.idea
*.log
*.bak
*.zip
*.cache
.env
.env.*
*.pem
*.p12
*.key
*.crt
*.cert
*.keystore
*.jks
*.pfx
debug.txt
debug.log
/node_modules/
dist/
build/
out/
tmp/
.cache/
*.map
.DS_Store
Thumbs.db
.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
test-results/
jest-html-reporters-*.html
.npm/
.yarn/
.pnpm-store/
/.parcel-cache
/.next
/.nuxt
/.vercel
/.turbo