body, html {
    padding: 0;
    margin: 0;
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.left-bar {
    overflow: scroll;
    width: 300px;
    height: 650px;
    background-color: #fff;
    padding: 20px;
}

.left-bar canvas {
    width: 250px;
}

#worldWrapper {
    box-shadow: 0 0 10px #777;
    width: 700px;
    height: 700px;
    overflow: scroll;
}

#miniMap {
    cursor: crosshair;
}

#coordinates {
    display: block;
}

body {
    background-color: #eee;
}