body, html {
    padding: 0;
    margin: 0;
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.left-bar {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 268px;
    height: 650px;
    background-color: #fff;
    padding: 5px;
    float: left;
}

.central-panel {
    float: left;
    padding: 5px 20px;
}

.right-bar {
    float: left;
    padding: 5px;
}

.left-bar canvas {
    width: 250px;
}

#scrollingMapWrapper {
    box-shadow: 0 0 10px #777;
    width: 900px;
    height: 640px;
    overflow: hidden;
}

#mainMap {
    cursor: crosshair;
}

.coordinatesWrapper {
    padding: 0 0 5px;
}

#coordinates {
    display: inline-block;
    width: 66px;
}

#pauseTick {
    margin: 20px;
}

body {
    background-color: #eee;
}

button {
    border-width: 0;
    border-radius: 7px;
    background-color: #efefef;
    padding: 3px 10px;
    cursor: pointer;
}

button:hover {
    background: #e0dfdf;
}

#tickCounter {
    color: #00b5dc;
    font-weight: 600;
    min-width: 50px;
    display: inline-block;
}